--find-links=https://girder.github.io/large_image_wheels GDAL
geemap
geopandas
jupyter-server-proxy
keplergl
leafmap
localtileserver
nbserverproxy
streamlit
streamlit-option-menu
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
spotipy
